.tble {
  margin-top: -1.25rem;
  margin-bottom: -1.25rem;
}
.horizontal {
  display: flex;
  flex-direction: row;
}

.seat {
  background: 0 0;
  border-color: black !important;
  cursor: pointer;
  font-size: 0.625rem;
  margin: 0.1875rem;
  padding: 0;
  position: relative;
}
.boradingPoint {
  text-align: start;
}
.boradingPoint .react-select__control {
  border: 2px solid red !important; /* Set border color to red */
}

.boradingPoint .react-select__control:hover {
  border-color: red; /* Change border color on hover */
}

.boradingPoint .react-select__single-value {
  color: red; /* Change selected value color */
}
.boradingPoint {
  border-style: none;
  border-width: 0px;
}
